/* stile globale */

/* #region common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-colour: #121619;
  --light-colour: #D7CEB2;
  --violet-colour: #78586F;
  --teal-colour: #3E8989;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--dark-colour);
  background-color: var(--light-colour);
}

/* #endregion common */

/* #region header */
/* #endregion header */

/* #region main */
/* #endregion main */

/* #region footer */
/* #endregion footer */