/* stile globale */

/* #region common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-colour: #121619;
  --light-colour: #D7CEB2;
  --violet-colour: #78586F;
  --teal-colour: #3E8989;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--dark-colour);
  background-color: var(--light-colour);
}

/* #endregion common */

/* #region header */
header {
  background-color: var(--violet-colour);
  padding: 1rem;

  h1 {
    text-align: center;
  }
}

/* #endregion header */

/* #region main */
main {

  .container {
    width: 80%;
    margin: auto;

    .row {
      display: flex;
      justify-content: center;

      form {

        .add-post {
          padding: 2rem 0;

          input {
            border: none;
            padding: .5rem;
            border-radius: .5rem;
            margin: .25rem .5rem .25rem 0;
          }

          button {
            border: none;
            padding: .5rem;
            border-radius: .5rem;
            margin: .25rem 0;
          }
        }

        ul {

          li {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            list-style: none;

            span {
              line-height: 2rem;
              margin-right: 1rem;
            }

            button {
              border: none;
              padding: .5rem;
              border-radius: .5rem;
              margin: .25rem 0;
            }
          }
        }
      }
    }
  }
}

/* #endregion main */

/* #region footer */
/* #endregion footer */